/db/target/
/encryption/target/
/database/target/
/database/.env/
/account/target/
/account/.env/
/api_acc/target/
/api_acc/.env/
/branch/target/
/branch/.env/
/document/target/
/document/.env/
/document_type/target/
/document_type/.env/
/hashval/target/
/hashval/.env/
/merchant/target/
/merchant/.env/
/receipt/target/
/receipt/.env/
/status/target/
/status/.env/
/trx-archive/target/
/trx-archive/.env/
